# Credenciais do E-mail (Gmail App Password)
EMAIL_REMETENTE=atendimento@empresaportalfake.com
EMAIL_SENHA_APP=xxxx_xxxx_xxxx_xxxx

# Servidor IMAP (Entrada)
IMAP_HOST=imap.gmail.com
IMAP_PORT=993

# Servidor SMTP (Saída Transacional)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465