EMAIL_REMETENTE=
EMAIL_SENHA=
GMAIL_TERMO_BUSCA=has:attachment
GMAIL_MENSAGEM_RECEBIMENTO=Ola! Confirmamos o recebimento do seu email e dos documentos anexados. Obrigado.
GMAIL_BROWSER=chrome
GMAIL_URL=https://mail.google.com/mail/u/0/#inbox
GMAIL_LIMITE_EMAILS=0
